*{
    margin: 0;
    padding: 0;
}

.FirstArea{
    background-color: #1F2739;
    padding-bottom: 20px;
}

.NavBar{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
}
.NavRight, .NavLeft{
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
}
.HeaderLogo{
    margin-left: 200px;
    font-size: 24px;
    color: #F9FAF8;
    margin:10px;
}
.HeaderLink{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px
}
.WebsiteHeader{
    font-size: 48px;
    color: #E5E7EB;
    width: 70%;
}
.Explanation{
    color: #E5E7EB;
    font-size: 18px;
}
.LeftMiniFlex{
    display: flex;
    flex-direction: column;
}

.RightContentFlex{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
.LeftMiniFlex {
    margin-left: 240px;
    gap: 20px;
}

.MainFlex{
    display: flex;
    flex-direction: row;
    margin-top: 40px; 
    align-items: center;
}
.button{
    background-color: #3882F6;
    width: 100px;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    border-color: #3882F6;
    color:white;
}
.Explanation{
    width: 40%;
}
.Boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 75px;

}
.box{
    border: 2px solid  #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.RandomInformation{
    margin-bottom: 100px;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.SecondArea{
    height: 600px;
    margin-bottom: 20px;
}
.ParagraphThree{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.ThirdArea{
    height: 600px;
    margin-bottom: 20px;
    background-color: #E5E7EB;
    align-items: center; 
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ParagraphTwo{
    color: #1F2739;
    margin-left: 300px;
    font-size: 20px;

}
.FourthArea{
    height: 600px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
     
}
.Container{
    padding: 20px;
    background-color:#3882F6 ;
    width: 75%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RightPart{
    margin-left: 900px;
}
.ButtonTwo{
    height: 40px;
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    background-color:#3882F6  ;
}
.LeftPart{
    color: White;
}

.FifthPart{
    background-color: #1F2739;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
